body
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.top-pad
{
  padding: 40px 15px;
  text-align: center;
}

#element1
{
    display: inline-block;
    margin-top:0px;
    width:4%;
    color:white;
}

#element2
{
    color:black;
    display:inline-block;
    vertical-align:top;
/*    margin-top:90px; */
    margin-top:0px;
    alignment:left;
    width:30%;

}

#element3
{
    display: inline-block;
    margin-top:0px;
    width:30%;
}

#element4
{
    display: inline-block;
    margin-top:0px;
    width:30%;
}

#element5
{
    display: inline-block;
    margin-top:0px;
    width:4%;
}

#element6
{
    display: inline;
    margin-top:10px;
    width:100%;
}