
{% extends "layouts/layout.html" %}

{% block content2 %}

     <h1>Prozesse </h1>

            {% for id, xValue, yValue, Label in processes %}
                <div class="well">
                    <h2>
                        <a href="{{ url_for('main_specificclassificationresult', procid = id)}}">ID: {{ id}}</a>
                        Label: {{ Label }}
                    </h2>
                    xValue: {{ xValue }};
                    yValue: {{ yValue }}
                </div>
            {% endfor %}
{% endblock %}

{% block content3 %}
        <p> Graphische Prozessdarstellung </p>
        <img src="{{ url_for('main_plot_classification') }}" alt="Image">
{% endblock %}




