
{% extends "layout.html" %}

{% block content2 %}

     <h1>Prozesse </h1>

            {% for row in processes %}

                <div class="well">
                    <h2>
                        <a href="{{ url_for('main_specificclusterresult', procid = row[0])}}">ID: {{ row[0]}}</a>
                        Clustercore: {{ row[-1] }} ; Label: {{ row[-2] }}
                    </h2>
                    Coordinates: {{ row[1:-2] }}
                </div>

            {% endfor %}

{% endblock %}

{% block content3 %}
        <br>
        <br>
        <br>
        <p> Graphische Prozessdarstellung </p>
        <img src="{{ url_for('main_plot_clustering') }}" alt="Image">
{% endblock %}
