
{% extends "layout.html" %}

{% block content2 %}

     <h1>Prozesse </h1>

            {% for id, xValue, yValue, Label, Clustercore in processes %}
                <div class="well">
                    <h2>
                        <a href="{{ url_for('main_specificclusterresult', procid = id)}}">ID: {{ id}}</a>
                        Clustercore: {{ Clustercore }} ; Label: {{ Label }}
                    </h2>
                    xValue: {{ xValue }};
                    yValue: {{ yValue }}
                </div>
            {% endfor %}

{% endblock %}

{% block content3 %}
        <p> Graphische Prozessdarstellung </p>
        <img src="{{ url_for('main_plot_clustering') }}" alt="Image">
{% endblock %}
