body
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.top-pad
{
  padding: 40px 15px;
  text-align: center;
}

#element1
{
    display: inline-block;
    margin-top:5px;
    width:10%;
}

#element2
{
    color:black;
    display:inline-block;
    vertical-align:top;
/*    margin-top:90px; */
    margin-top:5px;
    alignment:left;
    width:45%;

}

#element3
{
    display: inline-block;
    margin-top:0px;
    width:40%;
}
