
{% extends "layouts/layout.html" %}

{% block content2 %}
    <!--
<a href="#" data-toggle="popover" data-popover-target="#popover-content-1">Do Popover 1</a>
<a href="#" data-toggle="popover" data-popover-target="#popover-content-2">Do Popover</a>

<div id="popover-content-1" style="display: none">Content 1</div>
<div id="popover-content-2" style="display: none">Content 2</div>
-->
     <h1>Meine Prozesse</h1>

            {% for row in processes %}

                <div class="well">
                    <h2>
<!--                        <span class="pull-left">-->
                        <span class ="user_labels">
                        <a href="{{ url_for('main_specificclusterresult', procid = row[0])}}">Prozess ID: {{ row[0]}}</a>
<!--                        Clustercore: {{ row[-1] }} ;    -->
<!--                         </span>-->
                        </span>
                        <span>
                        Label: {{ row[-2] }}
                        </span>
                        <span class="pull-right">
                        <span class="user_popup">
                        <a href="#" >   Zeige ähnliche Prozesse</a>
<!--                        <a href="#" data-toggle="popover" title="Ähnliche Prozesse:" data-content=
'http://127.0.0.1:8000/bps/specificclusteringresult_popup/0
                ' data-html="true" data-original-title="A Title">Zeige Ähnliche Prozesse</a>-->

                        </span>
                        </span>

                    </h2>
                    Gütewert: 1
                    <br>
                    Merkmalausprägungen: {{ row[1:-2] }}
                </div>





            {% endfor %}

{% endblock %}

{% block content3 %}
<!--
        <br>
        <br>
        <br>
        <p> Graphische Prozessdarstellung: Berechnung </p>
        <img src="{{ url_for('main_plot_clustering') }}" alt="Image">
        <p> Graphische Prozessdarstellung: Wahrheit </p>
        <img src="{{ url_for('main_plot_clustering_real') }}" alt="Image">
        <br>
        <a href="{{ url_for('plotcoordinates')}}"> Coordinates Plot</a>
-->
{% endblock %}

{% block content4 %}
{% endblock %}

{% block content5 %}
{% endblock %}

{% block content6 %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
     <div align="center">

                <div class="well">
                    <h2>
                        <a href="{{ url_for('detailsComparison')}}"> Details Ähnlichkeitsanalyse </a>
                    </h2>
                </div>

     </div>
{% endblock %}