
{% extends "layouts/layout.html" %}

{% block content1 %}
{% endblock %}

{% block content2 %}

    <h1>Mein ausgewählter Prozess </h1>

            {% for row in reference_process %}

                <div class="well">
                    <h2>
                        <a href="{{ url_for('main_clusterresult', procid = row[0])}}">Prozess ID: {{ row[0]}}</a>
<!--                        Clustercore: {{ row[-1] }} ; Label: {{ row[-2] }}   -->

                        Label: {{ row[-2] }}
                    </h2>
                    Gütewert: 1
                    <br>
                    Merkmalausprägungen: {{ row[1:-2] }}
                </div>

            {% endfor %}

     <h1>Meine Prozesse</h1>

            {% for row in allprocesses %}

                <div class="well">
                    <h2>
                        <a href="{{ url_for('main_specificclusterresult', procid = row[0])}}">Prozess ID: {{ row[0]}}</a>
<!--                        Clustercore: {{ row[-1] }} ;    -->
                        Label: {{ row[-2] }}
                    </h2>
                    Gütewert: 1
                    <br>
                    Merkmalausprägungen: {{ row[1:-2] }}
                </div>

            {% endfor %}

{% endblock %}

{% block content3 %}
<!--
        <br>
        <br>
        <br>
        <p> Graphische Prozessdarstellung </p>
        <img src="{{ url_for('main_plot_clustering') }}" alt="Image">
        <br>
        <a href="{{ url_for('plotcoordinates')}}"> Coordinates Plot</a>
-->
     <h1>Zum ausgewählten ähnliche Prozesse</h1>

            {% for row in processes %}
                <div class="well">
                    <h2>
                        <span>
                        <a href="{{ url_for('main_specificclusterresult', procid = row[0])}}">Prozess ID: {{ row[0]}}</a>
<!--                        Clustercore: {{ row[-1] }} ; Label: {{ row[-2] }};  -->
                        </span>
                        <span class="pull-right">
                        <a href="{{ url_for('main_upvote', procid = row[0])}}">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-thumbs-up"></span> Stimmt
                            </button>
                        </a>
                        <a href="{{ url_for('main_downvote', procid = row[0])}}">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-thumbs-down"></span> Stimmt nicht
                            </button>
                        </a>
                        </span>
                    </h2>
                    Gütewert: 1
                    <br>
                    Ähnlichkeit: 100 %
                    <br>
                    Merkmalausprägungen: {{ row[1:-2] }}
                </div>
            {% endfor %}
{% endblock %}


{% block content4 %}
{% endblock %}

{% block content5 %}
{% endblock %}

{% block content6 %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
     <div align="center">

                <div class="well">
                    <h2>
                        <a href="{{ url_for('detailsComparison')}}"> Details Ähnlichkeitsanalyse </a>
                    </h2>
                </div>

feedback einbauen
     </div>
{% endblock %}